* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.main {
    width: 100%;
    background-image:linear-gradient( rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5)50%), url(img/daun.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.container-fluid {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
nav .container-fluid{
    padding: 40px;
}
.container-fluid h1{
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    top: 40%;
    align-items: center;
}

/* card */
.content{
    
    margin-top: 30px;
}
.card {
    border-radius: 23px;
}
.card-body {
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
a.btn {
    color: gray;
    font-size: 30px;
    float: right;
}
 p {
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 14px;
 }
 
.form-control {
    padding: 9px;
    border: 2px solid black;
    padding-left: 15px;
    color: black;
}
label {
    margin-bottom: 30px;
    margin-top: 10px;
}
input{
    color: black;
}

