h1 {
  font-family: arial;
  font-size: 30px;
  color: white;
}

h5 {
  font-size: 20px;
}

.search {
  width: 100%;
}
.apa1 {
  margin-top: 50px;
}
.button {
  width: 150px;
  color: white;
  font-weight: bold;
  height: 50px;
  border-radius: 20px;
  background-color: #315343;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

body {
  background-color: grey;
}

.card-body {
  height: 100%;
  border: solid 1px black;
}

.form-control-lg {
  height: 45px;
  border: solid 1px black;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0;
  margin-left: 0px;
}

/* navbar */
.navbar {
  padding-left: 20px;
}
.nav-link {
  padding: 10px;
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.personuser {
  margin-top: -25px;
}

button {
  height: 50px;
  width: 100px;
  margin: 20px;
  border-radius: 10px;
}

